body{
  margin:0;
  font-family:Arial;
  background:#050505;
  color:white;
}

header{
  text-align:center;
  padding:15px;
}

.logo{
  width:60px;
}

h1{
  color:gold;
}

.screen{
  display:none;
  padding:10px;
}

.active{
  display:block;
}

.menu button{
  width:100%;
  margin:10px 0;
  padding:15px;
  background:#111;
  border:1px solid gold;
  color:white;
  border-radius:10px;
}

input{
  width:100%;
  padding:12px;
  background:#111;
  border:none;
  color:white;
  border-radius:10px;
  margin-bottom:10px;
}

.acciones{
  display:flex;
  gap:10px;
}

.acciones button{
  flex:1;
  padding:12px;
  background:gold;
  border:none;
  border-radius:10px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(10,1fr);
  gap:6px;
  margin-top:10px;
}

.cell{
  background:#111;
  padding:10px;
  border-radius:10px;
  text-align:center;
}

.apartado{ background:#facc15; color:black; }
.pagado{ background:#22c55e; }

.side{
  margin-top:15px;
  border:1px solid gold;
  padding:10px;
  border-radius:10px;
}
